<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body style="font-family: 3M Trislan, ACaslonPro-BoldItalic;">
    <h2>Start User Registration Here</h2>
    <form action="{% url 'coffee/menu' %}" method="post">
        {% csrf_token %}
        <table>
            <thead>
                <td>
                    <tbody><input type="text" name="username" placeholder="username"></tbody><br>
                    <tbody><input type="email" name="email" placeholder="email"></tbody><br>
                    <tr><input type="password" name="password1" placeholder="password1"></tr><br>
                    <tr><input type="password" name="password2 placeholder="password2"></tr><br>
                    <tr><input type="submit" value="Submit"></tr>
                </td>
            </thead>
        </table>
    </form>
</body>
</html>